@keyframes menu-appear{
   
    from {
        opacity: 0;

        transform: translateX(-30px);

    }

    to {
        opacity: 1;
        transform: translateX(0);
        
    }

    
}

.animate-menu-appear {
    animation-name: menu-appear;
    animation-duration: .2s;
}