* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-linear: linear-gradient(191.73deg, #FF0036 0.46%, #FF6787 100%);
    
    --color-white:  #FFFFFF;
    --color-white-font: #F7F6FF;
    --color-white-page: #F7FCFF;

    --color-grey-font:  #5c5c5c;
    --color-grey:  #A3A7A7;
    
    --color-red-dark:  #FF0036;
    --color-red:  #FF6787;

    --font-poppins: 'Poppins', sans-serif;

    font-size: 62.5%;
    
}

body,
#container {
    height: 100vh;
}

