#page-food {
    background:#F7FCFF;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section {
    flex-shrink: 1;
    padding-top: clamp(3rem, 8vw, 11rem);
    padding-bottom: 10rem;

    height: 100%;

    display: flex;
    flex-direction: column;
}

.section .section-food {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section .section-food .food {
    display: flex;

    flex-direction: column;

    min-width: 25rem;
    max-width: 42rem;
    width: 75vw;
    
    min-height: 25rem;
    max-height: 30rem;
    height: 47vw;


    padding: 1rem 0 0;
 

    background: #fbfaff;
    box-shadow: 0px .8px 15px rgba(183, 183, 229, 0.3);
    border-radius: 34px;

} 


.section .section-food .food  main {
    width: 100%;
    margin-top: 3rem;

    display: flex;
    align-items: center;
    word-break: break-all;

    margin-left: 2rem;
}

.section .section-food .food  hr {
    border: none;

    border-bottom: .50rem solid var(--color-grey);
    width: 80%;

    margin-top: .8rem;

    align-self: center;
}

.section .section-food .food  main img {
    height: clamp(7rem, 10vw, 10rem);
    width: clamp(11rem, 10vw, 14rem);
    align-self: center;
}

.section .section-food .food  main h4 {
    font-family: var(--font-poppins);
    font-size: clamp(1.5rem, 2.3vw, 2rem);

    margin-top: 1rem;

    margin-right: 3rem;
}


.section .section-food .food  main .stars-container {
    margin-top: .3rem;
}

.section .section-food .food  main .stars-outer {
    position: relative;
    display: inline-block;

}

.section  .section-food .food main .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;

    width: 20%;
}

.section .section-food .food  main .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 300;
    color: #FFE120;
    font-size: clamp(1.2rem, 2.2vw, 1.8rem);
}

.section  .section-food .food main .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005 ";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #FFE120;
    font-size: clamp(1.2rem, 2.2vw, 1.8rem);
}

.section  .section-food .food .images {
    display: flex;

    margin-top: clamp(1.3rem, 3vw, 2rem);

    overflow-y: hidden;
    overflow-x: scroll;
    width: 85%;

    align-self: center;
}

.section  .section-food .food .images::-webkit-scrollbar {
    height: .35rem;
}

.section  .section-food .food .images::-webkit-scrollbar-thumb {
   border-radius: 1rem;

    background-color: var(--color-black);
}

.section  .section-food .food .images button {
    background: none;
    border: none;

    outline: none;
}

.section  .section-food .food .images button.active {
    opacity: .5;

}

.section  .section-food .food .images button + button {
    margin-left: clamp(.5rem, 2vw, .8rem);
}

.section  .section-food .food .images button img {
    height: clamp(4.4rem, 5.8vw, 7rem);
}

.section  .section-food .food footer {
    align-self: flex-end;

    margin-top: clamp(.5rem, 3vw, 5rem);
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--font-poppins);

    width: 85%;
    align-self: center;

}

.section  .section-food .food footer button {
    text-decoration: none;
    background: none;
    border: none;

    width: clamp(12.8rem, 27vw, 17rem);
    height: clamp(3rem, 16vw, 4rem);

    background: var(--color-red-dark);
    border-radius: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: clamp(1.05rem, 2.1vw, 1.35rem);
    color: var(--color-white);

    outline: none;
}

.section  .section-food .food footer button:hover {
    background-color: var(--color-red-button-hover);
}

.section  .section-food .food footer span.value {

    font-weight: 700;
    font-size: clamp(1.8rem, 5vw, 2.3rem);
    color: var(--color-black);
}

/* evaluation */

.your-evaluation-container {
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
}

.your-evaluation-container h3 {
    color: var(--color-black);
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: clamp(1.7rem, 2.8vw, 3.2rem);

    width: clamp(25rem, 42vw, 50rem);
}

.your-evaluation-container h3 strong {
    font-weight: 700;
}

.your-evaluation-container form  {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}

.your-evaluation-container form .stars-container div{
    display: flex;
    flex-direction: row-reverse;

    float: left;
}

.your-evaluation-container form .stars-container input[type="radio"] {
    display: none;
}

.your-evaluation-container form .stars-container label {
    font-weight: 300;
    color: #FFE120;
    
    font-size: clamp(1.45rem, 2.5vw, 2rem);

    transition: all .2 ease;
}

.stars-container input:not(:checked) ~ label:hover,
.stars-container input:not(:checked) ~ label:hover ~ label {
    font-weight: 900;
}


.stars-container input:checked ~ label {
    font-weight: 900;
}

.stars-container input#star-5:checked ~ label {
    font-weight: 900;
    text-shadow: 0 0 10px #FFE120;
}

.your-evaluation-container form textarea {
    border: none;
    border-bottom: 2px solid var(--color-grey);

    background: none;
    resize: none;

    margin-top: clamp(1rem, 2vw, 1.5rem);

    font-family: var(--font-poppins);
    color: var(--color-grey);
    font-size: clamp(1.5rem, 2vw, 2rem);

    outline: none;

    width: clamp(25rem, 36vw, 35rem);


    overflow-y: hidden;
    display: flex;
}

.your-evaluation-container form input[type="submit"] {
    border: none;

    margin-top: 1.5rem;

    width: clamp(12.8rem, 23vw, 17rem);
    height: clamp(3rem, 14vw, 4rem);

    background: var(--color-red-dark);
    border-radius: 2.3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: clamp(1.15rem, 2.5vw, 1.35rem);
    color: var(--color-white);

    outline: none;
}

.your-evaluation-container form input[type="submit"]:hover {
    background: var(--color-red-button-hover);

}

/* exibindo comentário */

.your-evaluation-container .stars-outer {
    position: relative;
    display: inline-block;
}

.your-evaluation-container .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;

    width: 90%;
}

.your-evaluation-container .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 300;
    color: #FFE120;
    font-size: clamp(1.2rem, 3vw, 1.4rem);
}

.your-evaluation-container .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005 ";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #FFE120;
    font-size: clamp(1.2rem, 3vw, 1.4rem);
}

.your-evaluation-container .comment {
    margin-top: 1rem;

    font-family: var(--font-poppins);
    color: var(--color-grey);
    font-size: 1.5rem;


    display: flex;
    width: clamp(25rem, 36vw, 35rem);
}

.other-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: clamp(6rem, 8vw, 11rem);
}

.other-reviews h3 {
    color: var(--color-black);
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: clamp(1.85rem, 3.5vw, 4.5rem);

    margin-bottom: 3rem;
}

.other-reviews .evaluation-container + .evaluation-container {
    margin-top: clamp(2rem, 4vw, 3rem);
}

.other-reviews .evaluation-container {
    background: var(--color-white-soft);
    width: clamp(25rem, 70vw, 54rem);

    background: #F7F6FF;
    border: 1px solid #7A7B7B;

    border-radius: 1rem;
    padding: 1rem;

    font-family: var(--font-poppins);
}

.other-reviews .evaluation-container header {
    padding: 0;

    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: clamp(.8rem, 1.5vw, 1.2rem);
}

.other-reviews .evaluation-container header img {
    height: clamp(4rem, 8vw, 6rem);
    width: clamp(4rem, 8vw, 6rem);

    border-radius: 50%;
    border: .2rem solid #fff;
}

.other-reviews .evaluation-container header h6 {
    font-size: clamp(1.35rem, 2vw, 2rem);
    margin-left: 1rem;

    font-weight: 400;
}

.other-reviews .evaluation-container .line-up-star-rating-and-date {
    display: flex;
    margin-bottom: .5rem;
}


.other-reviews .evaluation-container .line-up-star-rating-and-date .stars-outer {
    position: relative;
    display: inline-block;
}

.other-reviews .evaluation-container .line-up-star-rating-and-date .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;

    width: 90%;
}

.other-reviews .evaluation-container .line-up-star-rating-and-date .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 300;
    color: #FFE120;
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
}

.other-reviews .evaluation-container .line-up-star-rating-and-date .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005 ";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #FFE120;
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
}

.other-reviews .evaluation-container .line-up-star-rating-and-date span {
    color: var(--color-grey-font);
    margin-left: 1rem;
    font-size: clamp(1.1rem, 2.8vw, 1.4rem);

}

.other-reviews .evaluation-container .user-comment {
    color: var(--color-grey-font);
    font-size: clamp(1.1rem, 2.8vw, 1.4rem);

}

@media(min-width: 400px) {
    .your-evaluation-container {
        align-self: flex-start;
    
        margin-left: clamp(3rem, 7vw, 6rem);
    }
}

@media(min-width: 580px) {

    .section .section-food .food {
        max-width: 60rem;
        width: 75vw;
        
        max-height: 38rem;
        height: 47vw;
    

        align-self: flex-start;
        margin-left: clamp(4rem, 7vw, 7rem);
    
    } 

    .section .section-food .food  main img {
        height: clamp(7rem, 12vw, 10rem);
        width: clamp(11rem, 12vw, 14rem);
    }

    .section .section-food .food  main h4 {
        font-size: clamp(1.8rem, 2.3vw, 2.3rem);
    }

    .section .section-food .food  hr {
        border-bottom: .50rem solid var(--color-grey);
        margin-top: 1.8rem;
    }

    .section  .section-food .food .images {
        margin-top: clamp(1.3rem, 3vw, 2rem);
        width: 85%;
    }

    

    .section  .section-food .food .images button img {
        height: clamp(5rem, 8vw, 6rem);
    }

    .section  .section-food .food footer {
        margin-top: clamp(.9rem, 4vw, 7rem);
    }

    .section  .section-food .food footer button {
        width: clamp(12.8rem, 27vw, 19rem);
        height: clamp(3rem, 16vw, 4.5rem);

        font-size: clamp(1.20rem, 2.4vw, 1.45rem);
    }

    .section  .section-food .food footer span.value {

        font-size: clamp(1.8rem, 5vw, 3.5rem);
    }


    .your-evaluation-container form input[type="submit"] {
        margin-top: 2.5rem;
    
        width: clamp(12.8rem, 27vw, 19rem);
        height: clamp(3rem, 16vw, 4.5rem);

        font-size: clamp(1.20rem, 2.4vw, 1.6rem);
    }

    .your-evaluation-container {
        margin-top: 13rem;
        margin-left: clamp(4rem, 7vw, 7rem);
    }

    .other-reviews h3 {
    
        align-self: flex-start;
        margin-left: clamp(5rem, 6vw, 12rem);

        margin-bottom: 6rem;
    }

   

    
}

@media(min-width: 1200px) {
    .other-reviews .evaluation-container + .evaluation-container {
        margin-top: 0;
    }
    .line-up-grid-reviews {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem 1.8rem;
        margin-left: 6rem;
    }
}