#page-credentials {
    background: var(--color-grey-page);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container .circle {
    position: absolute;
    height: 100%;

    width: 100%;
    top: 0;
    left: 0;

    background: var(--color-linear);
    clip-path: circle(clamp(40rem, 80%, 45rem) at center -24%);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: -2;

    overflow: hidden;
}

#container .circle .logo-container  {
    position: absolute;
    top: 2rem;
}

#container .circle .logo-container .logo {
    opacity: 1;
    height: 5rem;

}

#container .circle  .food-plate {
    min-height: 40rem;
    max-height: 70rem;
    height: 100vw;
    opacity: .2;

    margin-top: clamp(-28rem, -100vw, -40rem);
}

#container .main {
    width: clamp(25rem, 60vw, 40rem);
    height: 40rem;

    border-radius: 1rem;

    background: #fff;
    box-shadow: 0px 5px 15px rgba(180, 181, 229, 0.49);

    margin-top: 1rem;
}


#container .fruits {

    background-image: url(../images/vegetables.svg);
    background-size: 18rem;
    background-repeat: no-repeat;
    background-position-x: 4.5rem;
    background-position-y: 1rem;



    width: 19rem;
    height: 12.4rem;



    position: absolute;
    bottom: 0rem;
    right: 0rem;

}
