#page-feedback {
    background:#F7FCFF;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section {
    flex-shrink: 1;
    padding-bottom: 10rem;

    height: 100%;

    display: flex;
    flex-direction: column;
}

.section main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* evaluation */



.your-evaluation-container {
    margin-top: 7rem;

    display: flex;
    flex-direction: column;
}

.your-evaluation-container h3 {
    color: var(--color-black);
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: clamp(1.7rem, 3.2vw, 4rem);

    width: clamp(25rem, 46vw, 60rem);
}

.your-evaluation-container form  {
    display: flex;
    flex-direction: column;
    margin-top: clamp(1rem, 2vw, 2rem);

}

.your-evaluation-container form .stars-container div{
    display: flex;
    flex-direction: row-reverse;

    float: left;
}

.your-evaluation-container form .stars-container input[type="radio"] {
    display: none;
}

.your-evaluation-container form .stars-container label {
    font-weight: 300;
    color: #FFE120;
    
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);

    transition: all .2 ease;
}

.stars-container input:not(:checked) ~ label:hover,
.stars-container input:not(:checked) ~ label:hover ~ label {
    font-weight: 900;
}

.stars-container input:checked ~ label {
    font-weight: 900;
}

.stars-container input#star-5:checked ~ label {
    font-weight: 900;
    text-shadow: 0 0 10px #FFE120;
}

.your-evaluation-container form textarea {
    border: none;
    border-bottom: 2px solid var(--color-grey);

    background: none;
    resize: none;

    margin-top: clamp(1rem, 2vw, 2rem);

    font-family: var(--font-poppins);
    color: var(--color-grey);
    font-size: clamp(1.6rem, 2vw, 2.2rem);

    outline: none;

    width: clamp(25rem, 40vw, 53rem);


    overflow-y: hidden;
    display: flex;
}

.your-evaluation-container form input[type="submit"] {
    border: none;

    margin-top: clamp(1.5rem, 2vw, 2.4rem);

    width: clamp(13rem, 24vw, 20rem);
    height: clamp(3rem, 10vw, 4.8rem);

    background: var(--color-red-dark);
    border-radius: 2.3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: clamp(1.2rem, 2.25vw, 1.65rem);
    color: var(--color-white);

    outline: none;
}

.your-evaluation-container form input[type="submit"]:hover {
    background: var(--color-red-button-hover);

}

/* Exibindo comentário */
.your-evaluation-container .stars-outer {
    position: relative;
    display: inline-block;
}

.your-evaluation-container .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;

    width: 0;
}

.your-evaluation-container .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 300;
    color: #FFE120;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

.your-evaluation-container .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005 ";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #FFE120;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);

}

.your-evaluation-container .comment {
    margin-top: clamp(1rem, 2vw, 2rem);

    font-family: var(--font-poppins);
    color: var(--color-grey);
    font-size: clamp(1.6rem, 2vw, 2.2rem);


    display: flex;
    width: clamp(25rem, 40vw, 53rem);

}

.social-networks {
    align-self: flex-start;

    
    margin-top: clamp(2rem, 8vw, 6rem);
    margin-left: clamp(2.3rem, 10vw, 6rem);
}

.social-networks h4 {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: clamp(1.4rem, 2.4vw, 2.3rem);
    margin-bottom: 1rem;
    
    color: var(--color-black);

}

.social-networks nav {
    margin-left: clamp(.5rem, 1vw, 11.5rem);
}

.social-networks a + a {
    margin-left: clamp(.3rem, 2vw, .8rem);
}

.social-networks a {
    text-decoration: none;
}

.social-networks a img {
    height: clamp(2rem, 3vw, 2.8rem);
}


/* Avaliações de outros usuários */
.other-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: clamp(6rem, 8vw, 11rem);
}

.other-reviews h3 {
    color: var(--color-black);
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: clamp(1.85rem, 3.5vw, 4.5rem);

    margin-bottom: 3rem;
}

.other-reviews .evaluation-container + .evaluation-container {
    margin-top: clamp(2rem, 4vw, 3rem);
}

.other-reviews .evaluation-container {
    background: var(--color-white-soft);
    width: clamp(25rem, 70vw, 54rem);

    background: #F7F6FF;
    border: 1px solid #7A7B7B;

    border-radius: 1rem;
    padding: 1rem;

    font-family: var(--font-poppins);
}

.other-reviews .evaluation-container header {
    padding: 0;

    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: clamp(.8rem, 1.5vw, 1.2rem);
}

.other-reviews .evaluation-container header img {
    height: clamp(4rem, 8vw, 6rem);
    width: clamp(4rem, 8vw, 6rem);

    border-radius: 50%;
    border: .2rem solid #fff;
}

.other-reviews .evaluation-container header h6 {
    font-size: clamp(1.35rem, 2vw, 2rem);
    margin-left: 1rem;

    font-weight: 400;
}

.other-reviews .evaluation-container .line-up-star-rating-and-date {
    display: flex;
    margin-bottom: .5rem;
    align-self: flex-start;
}


.other-reviews .evaluation-container .line-up-star-rating-and-date .stars-outer {
    position: relative;
    display: inline-block;
}

.other-reviews .evaluation-container .line-up-star-rating-and-date .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;

    width: 90%;
}

.other-reviews .evaluation-container .line-up-star-rating-and-date .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 300;
    color: #FFE120;
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
}

.other-reviews .evaluation-container .line-up-star-rating-and-date .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005 ";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #FFE120;
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
}

.other-reviews .evaluation-container .line-up-star-rating-and-date span {
    color: var(--color-grey-font);
    margin-left: 1rem;
    font-size: clamp(1.1rem, 2.8vw, 1.4rem);

}

.other-reviews .evaluation-container .user-comment {
    color: var(--color-grey-font);
    font-size: clamp(1.1rem, 2.8vw, 1.4rem);
    align-self: flex-start;
}


@media(min-width: 400px) {
    .your-evaluation-container {
        align-self: flex-start;
    
        margin-left: clamp(3rem, 7vw, 6rem);
    }
}


@media(min-width: 580px) {

    .your-evaluation-container {
        margin-top: 13rem;
        margin-left: clamp(4rem, 7vw, 7rem);
    }

    .other-reviews h3 {
        align-self: flex-start;
        margin-left: clamp(5rem, 6vw, 12rem);

        margin-bottom: 6rem;
    }
}

@media(min-width: 1200px) {
    .other-reviews .evaluation-container + .evaluation-container {
        margin-top: 0;
    }
    .line-up-grid-reviews {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem 1.8rem;
        margin-left: 6rem;
    }
}