#page-menu {
    background:#F7FCFF;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 7rem;

}

.section {
    flex-shrink: 1;
    padding-top: 3rem;

    height: 100%;

    display: flex;
    flex-direction: column;

}

.section h3 {
    color: var(--color-black);
    font-weight: 400;

    font-size: clamp(1.8rem, 4vw, 2.5rem);

    font-family: var(--font-poppins);

    margin-left: clamp(2rem, 4vw, 8rem);
}

.section h3 strong {
    font-weight: 800;
    display: block;
}

.section .wrapper{
    align-self: center;
}


.section .search-container {
    border: .2rem solid var(--color-grey);

    margin-top: clamp(2rem, 5vw, 10rem);


    font-family: var(--font-poppins);
    font-size: clamp(1.2rem, 1.7vw, 2rem);
    color: var(--color-grey);


    height: auto;

    width: clamp(23rem, 70vw, 40rem);

    border-radius: clamp(2rem, 4vw, 3rem);

    padding: 1rem 0;
    overflow: hidden;
}

.section .search-bar {
    border: none;
    
    background: none;

    margin: 0 1.2rem;

    width: 100%;

    color: var(--color-grey);
    font-size: clamp(1.2rem, 2vw, 2rem);

    outline: none;
}

.section .search-container .autocom-box {
    margin-top: 0;

    list-style: none;

    overflow-y: auto;
    opacity: 0;
    pointer-events: none;


}

.section .search-container.active  .autocom-box{
    margin-top: 1rem;
    opacity: 1;
    pointer-events: auto;
}

.section .search-container .autocom-box li {
    align-items: center;
    padding: .6rem 1.2rem;

    display: none;


}

.section .search-container.active .autocom-box li {

    display: flex;
}


.section .search-container .autocom-box li:hover {
    background: rgba(255, 255, 255, 0.308);
    background: #e8e8e8;
}

.section .search-container .autocom-box li img {
    height: 3rem;
    margin-right: .6rem;
}


.section main {
    display: flex;
    flex-direction: column;


    overflow: hidden;
}

.section main .categories-container {
    margin-top: 4.3rem;
    margin-left: clamp(3rem, 4vw, 9rem);


    display: flex;
    flex-direction: column;

}

.section main .categories-container h5 {
    font-family: var(--font-poppins);
    font-weight: bold;

    color: var(--color-black);
    font-size: clamp(1.25rem, 2vw, 1.35rem);

}

.section main .slider-categories {
    overflow-x: scroll;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    position: relative;

    margin-top: 1rem;

    width: 100%;

    margin-top: 0rem;


    padding: 2rem;
    padding-left: .2rem;

}

.section main .slider-categories::-webkit-scrollbar {
    display: none;
}

.section main .slider-categories .categorie + .categorie {
    margin-left: 2rem;
} 

.section main .slider-categories .categorie {
    display: inline-block;

    text-decoration: none;
    font-family: var(--font-poppins);
    color: var(--color-grey);

    font-size: clamp(1rem, 2vw, 1.16rem);

    width: clamp(10rem, 16vw, 13rem);

    height: clamp(7rem, 16vw, 8rem);
    
    background: var(--color-white);
    box-shadow: .0rem .5rem .8rem rgba(174, 182, 222, 0.3);
    border-radius: 2.8rem;

    transition: all 100ms;
}

.section main .slider-categories .categorie  .centering {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section main .slider-categories .categorie:hover {
    background: var(--color-white-page);
}

.section main .slider-categories .categorie img{
    height: clamp(3.5rem, 5vw, 4rem);
    display: block;
    margin-bottom: .2rem;
}


.section main .slider-categories .categorie-selected:hover {
    background: var(--color-white);
    
}

.section main .slider-categories .categorie.categorie-selected {
    color: var(--color-red-dark);
    box-shadow: 0px 5px 8px rgba(255, 0, 54, 0.24);

    border: 1px solid var(--color-red-dark);
}

/* slider food */


.section main .food-category-container{
    margin-top: 4.3rem;
    margin-left: clamp(3rem, 4vw, 9rem);


    display: flex;
    flex-direction: column;



}

.section main .food-category-container h5 {
    font-family: var(--font-poppins);
    font-weight: bold;

    color: var(--color-black);
    font-size: clamp(1.25rem, 2vw, 1.35rem);
}

.section main .slider-foods {

    overflow-x: scroll;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    position: relative;


    width: 100%;

    margin-top: 0rem;


    padding: 1.8rem;
    padding-left: .2rem;
}

.section main .slider-foods::-webkit-scrollbar {
    display: none;
}


.section main .slider-foods .food + .food {
    margin-left: 2rem;
} 

.section main .slider-foods .food {
    display: inline-block;

    text-decoration: none;
    font-family: var(--font-poppins);
    color: var(--color-grey);

    font-size: clamp(1rem, 2vw, 1.16rem);
    
    background: var(--color-white);
    box-shadow: 0px 8px 15px rgba(183, 183, 229, 0.3);

    border-radius: 3rem;


    width: clamp(16rem, 16vw, 19rem);
    min-height: clamp(19.5rem, 16vw, 25rem);

    transition: all 100ms;
}

.section main .slider-foods .food:hover {
    background: var(--color-white-page);

}



.slider-foods .food  .centering {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.section main .slider-foods .food img {
    height: 6rem;

    margin-top: 3rem;
}

.section main .slider-foods .food footer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 2rem;
    margin: 2rem;
    margin-top: 1.5rem;
    color: var(--color-black);

    font-family: var(--font-poppins);
    white-space: normal;
    word-break: break-all;
}

.section main .slider-foods .food footer h6 {
    font-size: clamp(1.3rem, 1.4vw, 1.5rem);
    font-weight: 700;

    width: 100%;
}


.section main .slider-foods .food  footer .stars-outer {
    position: relative;
    display: inline-block;

    margin-top: .2rem;
}

.section main .slider-foods .food footer .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.section main .slider-foods .food footer .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005 ";
    font-family: 'Font Awesome 5 Free';
    font-weight: 300;
    color: #FFE120;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.section main .slider-foods .food  footer .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005 ";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #FFE120;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.section main .slider-foods .food footer .value{
    font-weight: 700;
    font-size: clamp(1.6rem, 2.2vw, 1.8rem);

    margin-top: 1.8rem;
}


.section main .slider-foods .food.food-selected {
    background: linear-gradient(216.3deg, #FF6787 4.26%, #FF0036 95.39%);
    box-shadow: 0px 8px 15px rgba(255, 0, 54, 0.24);
}

.section main .slider-foods .food.food-selected footer {
    color: var(--color-white-soft);
}

.section main .slider-foods .food.food-selected footer h6 {
    font-size: clamp(1.4rem, 1.75vw, 1.7rem);

}

.section main .slider-foods .food.food-selected footer .value {
    font-size: clamp(1.8rem, 2.2vw, 2rem);
}

.section main .food-category-container .foods-location {
    display: flex;
    flex-direction: row;
 
    align-self: center;
    justify-content: center;

    flex-wrap: wrap;


    min-width: 22rem;
    width: 50vw;

    word-wrap: break-word;
    white-space: normal;

}

.section main .food-category-container .foods-location a + a {
    margin-left: clamp(.3rem, .5vw, .5rem);
}

.section main .food-category-container .foods-location a {
    height: clamp(1rem, 1.2vw, 1.4rem);
    width: clamp(1rem, 1.2vw, 1.4rem);

    border: .1rem solid var(--color-grey);

    border-radius: 50%;

    cursor: pointer;
    margin-bottom: .70rem;

    
}

.section main .food-category-container .foods-location a.location-selected {
    border: none;
    background: var(--color-red-dark);

}

.section main .without-occurrence {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5rem;
}

.section main .without-occurrence img {
    height: clamp(10rem, 24vw, 15rem);
}

.section main .without-occurrence h6 {
    font-family: var(--font-poppins);
    text-align: center;
    color: var(--color-grey);

    font-size: clamp(1rem, 1.8vw, 1.8rem);

    margin-top: 1.8rem;

    width: clamp(20rem, 80vw, 90rem);
}

@media(min-width: 480px) {
    .section .wrapper{
        align-self: flex-start;
        margin-left: 10vw;
    } 
}

@media(min-width: 760px) {
    .section {
        padding-top: 8rem;
    
    }

    .section h3 {
        font-size: clamp(2.5rem, 3vw, 4rem);
    }

    .section .wrapper {
        margin-left: clamp(2rem, 4vw, 8rem);
    }

    .section .search-container {
        height: auto;

        width: clamp(60rem, 70vw, 100rem);

        border-radius: clamp(2rem, 4vw, 3rem);

        font-size: clamp(1rem, 1.5vw, 1.8rem);

        padding: 1rem 0;
        overflow: hidden;
    }

    .section .search-bar {
        margin: 0 1.9rem;

        font-size: clamp(1.2rem, 1.7vw, 1.8rem);
    }


    .section .search-container .autocom-box li {
        padding: 1rem 1.4rem;
    }

    .section .search-container .autocom-box li img {
        height: 3.3rem;
        margin-right: .7rem;
    }


    .section main .categories-container {
        margin-top: 6.3rem;
    }

    .section main .categories-container h5 {
        font-size: clamp(1.5rem, 1.8vw, 1.7rem);
    }

    .section main .slider-categories .categorie + .categorie {
        margin-left: 2.5rem;
    } 
    
    .section main .slider-categories .categorie {
        font-size: clamp(1.2rem, 2vw, 1.20rem);
    
        width: clamp(12rem, 16vw, 14rem);
    
        height: clamp(7rem, 16vw, 8.8rem);
    }

    .section main .food-category-container h5 {
        font-size: clamp(1.5rem, 1.8vw, 1.7rem);
    }


    .section main .slider-foods .food + .food {
        margin-left: 3rem;
    } 

    .section main .slider-foods .food {
        font-size: clamp(1.2rem, 2vw, 1.3rem);
        
        background: var(--color-white);
        box-shadow: 0px 8px 15px rgba(183, 183, 229, 0.3);

        width: clamp(17rem, 17vw, 20rem);
        min-height: clamp(20.5rem, 17vw, 26rem);
    }

    .section main .slider-foods .food img {
        height: 6.5rem;
    
        margin-top: 3rem;
    }

    .section main .slider-foods .food footer h6 {
        font-size: clamp(1.4rem, 1.4vw, 1.7rem);
    }

    .section main .slider-foods .food  footer .stars-outer {
        margin-top: .4rem;
    }

    .section main .slider-foods .food footer .stars-outer::before {
        font-size: clamp(1.3rem, 1.7vw, 1.5rem);
    }
    
    .section main .slider-foods .food  footer .stars-inner::before {
        font-size: clamp(1.3rem, 1.7vw, 1.5rem);
    }

    .section main .slider-foods .food footer .value{
        font-size: clamp(1.7rem, 2.2vw, 2rem);
    }

    .section main .slider-foods .food.food-selected footer h6 {
        font-size: clamp(1.6rem, 1.4vw, 1.9rem);
    }

    .section main .slider-foods .food.food-selected footer .value {
        font-size: clamp(2rem, 2.1vw, 2.2rem);
    }
    
    .section main .food-category-container .foods-location {
        margin-top: 1rem;
    }
}