/* popup add food */
.pop-up-food-added {
    position: fixed;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

.animate-food-added-appear {
    display: flex;
}

.pop-up-food-added p {
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--color-black);

    margin-bottom: 14rem;
}


/* popup imagem grande */

.pop-up-container {
    position: fixed;
    height: 100%;
    width: 100%;

    background: rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
}
