/* header */

header {

    padding: 2rem clamp(2rem, 4vw, 8rem) 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

header .menu-hamburguer {
    
    min-width:  7rem;
    width: 13vw;
    

    min-height: 5rem;
    height: 10vw;

    position: relative;


    display: flex;

    transition: 1s ease;

    margin-top: 2rem;

    z-index: 9;

}

header .menu-hamburguer::before {
    content: "";
    position: absolute;

    width: 60%;
    height: 12%;

    background: var(--color-black);

    transition: .8s ease;
}

header .menu-hamburguer::after {
    content: "";
    position: absolute;

    width: 30%;
    height: 12%;

    background: var(--color-black);

    top: 25%;

    transition: .8s ease;

}

header #check:checked ~ label .menu-hamburguer::before{
    transform: rotate(225deg);
    top: 10%;
    
    background: var(--color-white-soft);

}

header #check:checked ~ label .menu-hamburguer::after{
    transform: rotate(-225deg);
    top: 10%;
    width: 60%;

    background: var(--color-white-soft);
}


header .profile img{
    height: clamp(5rem, 8vw, 9rem);
    width: clamp(5rem, 8vw, 9rem);

    border-radius: 50%;
    border: .2rem solid #fff;

}


/* menu */

.menu-options {
    height: 100%;
    
    min-width: 16rem;
    max-width: 23rem;
    width: 60%;

    position: fixed;
    background: var(--color-red-dark);

    z-index: 1;

    left: 0;

    padding: 13rem 0 0;

    flex-direction: column;
    font-family: var(--font-poppins);


    display: none;
}

.menu-options .routes {
    display: flex;
    flex-direction: column;

    margin: 0 0 2rem 1.8rem;
}

.menu-options .routes a {
    text-decoration: none;
    color: var(--color-white-soft);
    font-size: clamp(1.3rem, 3vw, 1.5rem);


    display: flex;
    align-items: center;
}

.menu-options .routes a + a {
    margin-top: 1.8rem;
}

.menu-options .routes a img {
    margin-right: 1rem;

    min-height: 2.5rem;
    max-height: 3.3rem;
    height: 8vw;
}

.menu-options .routes a:nth-child(3) img {
    min-height: 3rem;
    max-height: 4rem;
}

.menu-options .line-menu {
    width: 90%;

    align-self: center;

    border: none;

    border-bottom: .2rem solid var(--color-white-soft);

    margin-bottom: 1.3rem;
}

.menu-options .social-media {
    align-self: center;

}

.menu-options .social-media a + a {
    margin-left: .3rem;
}

.menu-options .social-media img {
    min-height: 3rem;
    max-height: 3.5rem;
    height: 7vw;

}

.menu-options .address {
    align-self: center;
    text-align: center;
    
    color: var(--color-white-soft);
    font-size: clamp(1.3rem, 4vw, 1.5rem);

    font-weight: 700;

    margin-top: 1.5rem;

    max-width: 20rem;

}

.appear-menu-options {
    display: flex;
}

nav.nav {
    display: none;
}

/* Sacola de compras */

.purchasing-button {
    position: fixed;
    width: clamp(5.6rem, 5vw, 6.8rem);
    height: clamp(5.6rem, 5vw, 6.8rem);

    bottom: 3rem;
    right: 2rem;

    border-radius: 50%;

    background: var(--color-red-dark);
    border: .1px solid var(--color-white);
    box-shadow: 0px 5px 8px rgba(255, 0, 54, 0.24);

    outline: none;

    cursor: pointer;

    transition: all 100ms;

    display: flex;
    align-items: center;
    justify-content: center;
}

.purchasing-button img {
    height: 50%;
}

.purchasing-button:hover {
    background: var(--color-ref-button-hover);
}

.purchasing-car {
    background: var(--color-red-dark);
    position: fixed;
    bottom: 0;

    width: 100%;
    height: clamp(30rem, 55vh, 50rem);
    padding: 4rem 2rem 2rem;

    flex-direction: column;

    display: none;
}

.appear-purchasing-car {
    display: flex;
}
 
.purchasing-car h5 {
    font-size: clamp(2rem, 3.5vw, 3rem);
    font-family: var(--font-poppins);
    font-weight: 400;

    max-width: 40rem;

    color: var(--color-white-soft);

    margin-bottom: 3rem;
}

.purchasing-car .chosenFoods  {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    height: 20rem;
    max-width: 50rem;
    width: 100%;


    align-self: center;

}

.purchasing-car .chosenFoods::-webkit-scrollbar{
    width: .4rem;

    padding-left: 2rem;
}

.purchasing-car .chosenFoods::-webkit-scrollbar-thumb{
    background-color: var(--color-white-soft);
    border-radius: 3px;

}

.chosenFoods .food  + .food {
    margin-top: 1rem;
}

.chosenFoods .food {
    background: var(--color-white-soft);

    display: flex;

    margin-right: .5rem;


    align-items: center;
    justify-content: space-between;


    min-height: 5.5rem;
    height: 5.5rem;

    border-radius: .8rem;

    padding: 2rem;
    
}

.chosenFoods .food main {
    display: flex;

    align-items: center;
}

.chosenFoods .food main img {
    height: 3.8rem;
}

.chosenFoods .food main h6 {
    font-family: var(--font-poppins);
    font-size: clamp(1rem, 2.2vw, 1.4rem);

    font-weight: 400;
}

.chosenFoods .food .amount-this-food {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.chosenFoods .food .amount-this-food button {
    background: none;
    border: none;
    margin: 0;

    display: flex;
    justify-content: center;
    outline: none;

    margin: 0 .5rem;

}

.chosenFoods .food .amount-this-food button  img {
    height: clamp(1.5rem, 2vw, 2rem);
}

.chosenFoods .food .amount-this-food button:nth-child(2) {
    margin: 0 .4rem;

}

.chosenFoods .food .amount-this-food .amount {
    font-family: var(--font-poppins);
    font-weight: 400;

    font-size: clamp(1.2rem, 2vw, 2rem);

    margin: 0   0 .3rem;

}

.purchasing-car .finish-buy {
    margin-top: 3rem;

    background: var(--color-white);

    max-width: 50rem;
    width: 100%;

    min-height: 3rem;
    height: clamp(3.7rem, 4vw, 4rem);

    border-radius: 1.7rem;

    align-self: center;

    font-size: clamp(1.5rem, 2vw, 1.8rem);
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-black);
   
    border: none;

    cursor: pointer;    

    outline: none;
}

.purchasing-car .finish-buy:hover {
    background: var(--color-white-soft);
}

.purchasing-car footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    align-items: center;

}

.purchasing-car footer .total-payable {
    font-family: var(--font-poppins);
    font-weight: bold;
    font-size: clamp(1.6rem, 3vw, 2rem);

    color: var(--color-white);
}

.purchasing-car footer .minimize-purchasing-car {
    background: none;
    border: none;
    cursor: pointer;

    outline: none;
}

.purchasing-car footer .minimize-purchasing-car img {
    height: clamp(2.8rem, 4vw, 3.5rem);
}

@media(min-width: 760px) {
    header {
        margin-top: 1rem;
    }
    
    .menu-hamburguer-container {
        display: none;
    }

    nav.nav {
        display: flex;

        font-size: clamp(1.6rem, 1.6vw, 1.8rem);
        font-family: var(--font-poppins);
        
    }
    
    nav.nav a + a {
        margin-left: 2rem;
    }
    
    nav.nav a  {
        text-decoration: none;
        color: var(--color-black);
    }

    nav.nav a:hover {
        font-weight: bold;
    }


    header .profile img{
        height: clamp(6.5rem, 6vw, 8rem);
        width: clamp(6.5rem, 6vw, 8rem);

        border-radius: 50%;
        border: .2rem solid #fff;

    }

    /* Sacola de compras */


    .purchasing-car {
        width: clamp(55rem, 80vw, 80rem);
        height: clamp(35rem, 60vh, 55rem);

        align-self: flex-end;

        border-radius: 1rem 0 0 0;

        padding: 6rem 3rem 1rem;

    }


    .chosenFoods .food  + .food {
        margin-top: 1.8rem;
    }

    .chosenFoods .food {
        height: 5.7rem;
    }

    .chosenFoods .food .amount-this-food button  img {
        height: clamp(1.5rem, 1.9vw, 2rem);
    }



    .purchasing-car footer .total-payable {
        font-family: var(--font-poppins);
        font-weight: bold;
        font-size: clamp(1.8rem, 3vw, 2.3rem);

        color: var(--color-white);
    }

    .purchasing-car footer .minimize-purchasing-car img {
        height: clamp(3rem, 4vw, 4rem);
    }
} 
